#.env.example
# MySQL
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Bases de datos
USERS_DB=
PRODUCTS_DB=
ORDERS_DB=

# Hosts internos de Docker
USERS_DB_HOST=
PRODUCTS_DB_HOST=
ORDERS_DB_HOST=

# Consul
CONSUL_HOST=
CONSUL_PORT=
